@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
  --navbar-color: rgb(34, 180, 144);
  --pagebar-color: white;
  --border-page: #ccc 1px solid;
  --btn-hover: #ddd;
  --btn-click: #ccc;
  --btn-color: inherit;
  --tc-navbar: white;
  --gray-email: #8e8e8e;
  --gray-profileimage: #c4c4c4;
  --gray-border: #878787;
  --font-roboto: "Roboto", sans-serif;
  --font-weight: 500;
  --item-name: black;
  --item-desc: #878787;
  --minWidth-size: 700px;
  --minHeightNB-size: 100px;
  --minHeight-size: 600px;
  --white-use: rgb(215, 215, 215);
}

html {
  font-size: 10px;
  position: relative;
  overflow: scroll;
  background-color: var(--white-use);
}

/* Using body css */

.openMenu .page-container {
  width: 100%;
}

.openMenu .menu-container {
  left: 30px;
  top: 70px;
  min-width: 250px;
  display: block;
  width: fit-content;
  height: 100%;
  max-height: 500px;
  background-color: var(--white-use);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  position: fixed;
  opacity: 1;
  z-index: 10;
  border-radius: 25px;
  animation: slide-in 0.3s forwards;
}

.openMenu .menu-container .sub-menu {
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  color: black;
  text-decoration: none;
  text-align: left;
}

.sub-menu .menu-item {
  width: 90%;
}

.sub-menu .indicator {
  display: none;
}

.sub-menu:hover .indicator {
  display: block;
  width: 5px;
  height: 100%;
  background-color: var(--navbar-color);
  transition: 0.5s;
}

.menu-container .active .indicator {
  display: block;
  width: 5px;
  height: 100%;
  background-color: var(--navbar-color);
  transition: 0.5s;
}

.openMenu .menu-container .menu-close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.openMenu .menu-container #menu-close {
  height: 50px;
  width: 50px;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 25px;
}

.openMenu .menu-container #menu-close:hover {
  cursor: pointer;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(30px);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.openMenu #menu-icon {
  display: none;
}

.background:hover {
  cursor: pointer;
}

.openMenu .background {
  position: fixed;
  background-color: rgb(0, 0, 0);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  opacity: 0.75;
  display: block;
  min-width: var(--minWidth-size);
}

.openPopup .background {
  position: fixed;
  background-color: rgb(0, 0, 0);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 0.75;
  display: block;
  min-width: var(--minWidth-size);
}

/* Navigation bar */

body {
  width: 100%;
  max-width: 100%;
  height: fit-content;
}

#root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.background {
  display: none;
}

.navbar {
  background-color: var(--navbar-color);
  width: 100%;
  min-width: var(--minWidth-size);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 35px 35px;
  position: absolute;
  z-index: 5;
}

#app-title {
  width: 70%;
  height: fit-content;
  color: white;
  font-size: 35px;
  font-family: 'Signika', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin-left: 50px;
  text-align: left;
  font-style: normal;
  text-decoration: none;
}

#profile-container {
  height: fit-content;
  width: 300px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-roboto);
  background-color: rgb(0, 0, 78);
  overflow: hidden;
  border-radius: 25px;
}

.profile-preview {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-left: 15px;
}

.profile-image {
  height: 50px;
  width: 50px;
  background-color: var(--gray-profileimage);
  border-radius: 20rem;
  object-fit: cover;
}

#pr-username {
  width: 150px;
  color: var(--tc-navbar);
  font-weight: 500;
  font-size: small;
  text-align: left;
  overflow: hidden;
}

#pr-email {
  width: 150px;
  color: var(--gray-email);
  font-weight: 500;
  font-size: x-small;
  text-align: left;
  overflow: hidden;
}

/* Menu Bar */
.menu-container {
  opacity: 0;
  display: none;
}

.sub-menu {
  display: block;
  font-family: var(--font-roboto);
  font-size: 2.5em;
}

/* Home Page Fragment */

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: var(--minWidth-size);
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-roboto);
  padding: 100px 0px 70px 0px;
}

.page-title {
  width: 100%;
  height: fit-content;
  text-align: left;
  font-size: 50px;
  display: flex;
  align-items: center;
  color: black;
}

#page-content {
  width: 90%;
  min-width: 800px;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
  height: fit-content;
  min-height: 300px;
  position: relative;
  box-shadow: 4px 5px 1px rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  border: var(--border-page);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.menu-bar {
  width: 100%;
  margin-top: -50px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pagebar-color);
  border-bottom: var(--border-page);
  border-radius: 25px 25px 0px 0px;
}

#page-selection {
  width: 90%;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.page-button {
  width: 35%;
  font-size: medium;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-color);
}

.page-button:hover {
  background-color: var(--btn-click);
  transition: 0.3s;
}

#page-selection .clicked {
  background-color: var(--btn-click);
  cursor: pointer;
}

#btn-page1 {
  border-top-left-radius: 25px;
}

#page-others {
  height: 100%;
  width: 35%;
  min-width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.page-search {
  display: flex;
  align-items: right;
}
.react-search-field {
  border-radius: 10px;
  height: 40vh;
  /* border-collapse: separate; */
}

.react-search-field-input {
  background: transparent;
}

.react-search-field-button {
  margin-right: 0.8vw;
  border-left: none !important;
  align-items: center;
}

.list-container {
  width: 95%;
  min-height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 0.5fr);
  grid-auto-rows: 350px;
  border-radius: 0px 0px 25px 25px;
  padding: 25px;
  overflow: hidden;
}

.item-wrapper {
  min-height: 220px;
  height: 270px;
  width: 200px;
  margin: 15px;
  padding: 15px;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.item-wrapper:hover {
  background-color: gray;
  transition: 0.5s;
}

.item-wrapper:hover .item-meta {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.item-wrapper:hover #item-desc {
  color: white;
  transition: 0.5s;
}

.item-wrapper:hover .item-footer {
  color: white;
  background-color: #5bcfec;
}

#item-image {
  width: 175px;
  height: 200px;
}

.item-meta {
  height: 25%;
  width: 100%;
  color: var(--item-name);
  font-family: var(--font-roboto);
  font-size: small;
  padding: 15px 15px 0px 15px;
  text-decoration: none;
}

#item-name {
  height: fit-content;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  font-size: medium;
  font-weight: var(--font-weight);
}

#item-desc {
  color: var(--item-desc);
  height: 30px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#item-desc::-webkit-scrollbar {
  display: none;
}

.item-footer {
  padding: 10px 15px 10px 15px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  border-radius: 25px 0 0 0;
  margin-right: -15px;
}

.item-footer i {
  color: gray;
  transform: scale(1.75);
}

.addNewItem {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#btn-addItem {
  height: fit-content;
  font-size: 10rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
}

#btn-addItem2 {
  height: fit-content;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
  padding-bottom: 40px;
}

/* form Make A New Questionnaire */

.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#popup-addItem {
  background-color: var(--white-use);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 25px;
}

.closePopup {
  color: Black;
  width: 90%;
  height: fit-content;
  text-align: end;
  font-size: 3em;
  cursor: pointer;
}

.form-components {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.form-components h1 {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.form-components label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.form-components label > span {
  font-size: 15px;
  width: 100%;
}

.form-components label > input {
  width: 350px;
  height: 25px;
  font-size: medium;
  margin-top: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.form-components .form-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.form-options input {
  height: 20px;
  width: 20px;
}

.form-options div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
}

#form-warning {
  font-family: var(--font-roboto);
  font-size: medium;
  color: red;
  font-weight: bold;
  font-style: italic;
}

/* Title */
/* ex: Dashboard */

.title-container {
  margin-left: 10px;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px 0 0 0;
}

#page-title-home {
  padding-left: 30px;
}

.dashboard-icon {
  /* float: right; */
  width: 10em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon-image:hover {
  cursor: pointer;
}

.menu-icon {
  padding-right: 15px;
  border-radius: 20rem;
  margin-right: 20px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#menu-icon-img {
  margin-left: 5px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

#other-icon {
  height: 20px;
  width: 20px;
}

/* question items, containers */

.questions-container {
  width: 95%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  overflow-x: scroll;
  min-height: 480px;
}

.questions-container::-webkit-scrollbar {
  height: 5px;
  bottom: -100px;
}

.questions-container::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.questions-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-left: 15px;
}

.questions-container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-right: 15px;
}

.separator {
  min-width: 100px;
  min-height: 100px;
}

.question-padding {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.question-isOptional-container {
  display: flex;
  /* float: right; */
  width: 100%;
  height: 100%;
}

.question-isOptional-spacer {
  width: 100%;
  height: 100%;
}

.question-isOptional-icon {
  padding-left: 40%;
  width: fit-content;
  height: fit-content;
  color: rgb(224, 213, 213);
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

.question-isOptional-text {
  width: fit-content;
  height: 100%;
  display: flex;
  color: rgb(209, 199, 199);
  padding: 0px 7px 0px 7px;
  font-size: 15px;
  font-family: var(--font-roboto);
  font-style: italic;
}

.question-settings {
  width: fit-content;
  height: fit-content;
  color: rgb(170, 159, 159);
  font-size: 20px;
  display: flex;
  cursor: pointer;
}

#addQuestion:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-remove-options-button {
  height: fit-content;
  width: 15px;
  padding-left: 15px;
  display: flex;
  align-self: center;
  text-align: center;
  /* vertical-align: center; */
  cursor: pointer;
}

/* Question Section */

.question {
  min-width: 550px;
  min-height: 275px;
  height: fit-content;
  width: 550px;
  margin: 50px;
  padding: 15px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  background-color: white;
}

.question::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.question::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.question::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

.question::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

#addQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-area {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#question-title-font {
  margin: 10px 10px 0px 10px;
  font-size: 1.5rem;
  width: 60%;
  height: fit-content;
  cursor: pointer;
}

.question-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 95%;
  margin-bottom: 10px;
  font-size: 15px;
  display: inline;
  resize: none;
  min-height: 38px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: var(--font-roboto);
}

.question-input::-webkit-scrollbar {
  display: none;
}

#question-selection {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
}

#questionSelection {
  width: 100%;
  height: fit-content;
  font-size: medium;
}

.answerSelection {
  width: 20px;
  height: 20px;
}

.form-item-separator {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-align: center;
  left: 65%;
  font-size: small;
  font-style: italic;
}

.branching-selection {
  width: 200px;
  font-size: 15px;
}

.form-item-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

.form-item-remove ion-icon {
  width: 20px;
  height: 20px;
}

/* Multiple Choice */

#answer-selection-container {
  margin-top: 15px;
  height: auto;
  width: fit-content;
}

/* #answer-selection-container .answerSelectionRadio {
  width: 20px;
  height: 20px;
} */

.answer-selection {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin-top: 5px;
}

.null {
  width: 250px;
  height: fit-content;
  display: flex;
}

/* branching selection */

#branchingSelection > .css-1s2u09g-control {
  border: none !important;
}

#branchingSelection .css-1okebmr-indicatorSeparator {
  display: none;
}

#branchingSelection {
  width: 100%;
  height: fit-content;
  font-size: medium;
}

.answer-selection .inputText {
  width: 250px;
  height: fit-content;
  margin-left: 5px;
  border: none;
  font-size: 1.55em;
  font-family: var(--font-roboto);
  scrollbar-width: none;
  padding: 8px;
}

.inputText::-webkit-scrollbar {
  display: none;
}

#border {
  width: 300px;
  border: var(--border-page);
}

/* Short Answer */

#shortanswer-container {
  border-bottom: 1px dotted grey;
  /* padding-bottom: 5px; */
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
  margin-right: 20px;
}

#shortanswer-container .inputText {
  border: none;
  width: 100%;
}

/* Linear scale */

.linear-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linear-input-container {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linear-title {
  font-family: var(--font-roboto);
  color: rgb(105, 105, 105);
  font-size: 1.45em;
  margin-left: 10px;
  margin-right: 15px;
  width: fit-content;
  align-self: flex-start;
}

#linear-title-input {
  margin-top: 12px;
}

#linear-input-box {
  padding-left: 20px;
  width: 80px;
}

.linear-label-container {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#linear-title-label {
  margin-top: 19px;
}

.linear-label-loop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.linear-label-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.linear-label-userinput {
  width: auto;
  height: fit-content;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  padding: 5px;
  margin-top: 5px;
}

.linear-label-userinput .inputText {
  width: 200px;
  height: fit-content;
  margin-left: 5px;
  border: none;
  font-size: 1.55em;
  font-family: var(--font-roboto);
  scrollbar-width: none;
}

#linear-label-select {
  width: 22%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
  margin-left: 5px;
}

#linear-label-select-box {
  width: 50%;
  height: 75%;
  border: var(--border-page);
  border-radius: 5px;
  font-size: medium;
  align-self: center;
  display: flex;
}

#linear-label-select-value {
  width: 92%;
  height: 50%;
  /* display: flex; */
  align-self: center;
  text-align: center;
}

/* INVITATION PAGE */

#invitation-share-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#invitation-share-publicly-box {
  margin-top: 30px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: var(--border-page);
  border-radius: 10px;
  align-self: center;
}

#invitation-share-publicly-innerbox {
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
}

#invitation-share-publicly-innerbox-text {
  font-family: var(--font-roboto);
  font-size: 1.5em;
  font-display: medium;
  align-self: left;
  margin-bottom: 2%;
}

#invitation-share-publicly-innerbox-linkcontainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#invitation-share-publicly-innerbox-linkbox {
  border: var(--border-page);
  border-radius: 5px;
  width: 100%;
  height: 25px;
  align-self: center;
  margin-left: 15px;
  align-items: center;
  padding: 5px;
}

#invitation-share-publicly-innerbox-iconurl {
  width: 25px;
  height: 25px;
  padding: 15px 0px 15px 15px;
  align-self: center;
  color: gray;
}

#invitation-share-publicly-innerbox-iconcopy {
  width: 30px;
  height: 30px;
  padding: 15px 0px 15px 15px;
  align-self: center;
  cursor: pointer;
}

#invitation-share-publicly-innerbox-url {
  border: none;
  width: 95%;
  height: 90%;
  justify-content: center;
  font-style: italic;
}

#invitation-share-publicly-innerbox-iconcontainer {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  margin-top: 10px;
}

.invitation-share-publicly-innerbox-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

#invitation-share-divider {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#invitation-share-divider-line {
  width: 5%;
  border: var(--border-page);
  align-self: center;
}

#invitation-share-divider-text {
  padding-left: 0.5%;
  padding-right: 0.5%;
  color: rgb(204, 204, 204);
  font-style: bold;
}

#invitation-share-privately-box {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.invitation-share-privately-innerbox {
  font-family: var(--font-roboto);
  font-size: 1.5em;
  font-display: medium;
  align-self: left;
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#invitation-share-privately-render {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#invitation-share-privately-innerbox-desc {
  color: rgb(204, 204, 204);
  padding-top: 0;
  font-weight: bold;
  font-size: 1.3em;
}

#invitation-share-privately-button {
  font-weight: bold;
  font-family: var(--font-roboto);
  font-size: small;
  color: var(--white-use);
  background-color: black;
  align-self: left;
  margin-left: 25px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: fit-content;
}

#invitation-share-privately-emailbox {
  width: 90%;
  min-height: 30px;
  /* height: 38px; */
  height: fit-content;
  border: var(--border-page);
  border-radius: 10px;
  align-self: left;
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#invitation-share-privately-emails {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  height: fit-content;
  /* background-color: #8e8e8e; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  flex-wrap: wrap;
  align-self: center;
}

#invitation-share-privately-email {
  font-family: var(--font-roboto);
  font-size: small;
  font-weight: normal;
  width: fit-content;
  height: fit-content;
  padding: 7px 10px 7px 15px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: var(--gray-profileimage);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  list-style: none;
  align-self: center;
}

#invitation-share-privately-email-remove {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  color: grey;
  cursor: pointer;
  border-radius: 50%;
  /* background: #dfdfdf; */
  justify-content: center;
  font-size: 15px;
  align-self: center;
}

#invitation-share-privately-email-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 12px 10px 12px 0px;
  margin-left: 10px;
  border-radius: 10px;
  align-self: center;
  flex: 1;
}

#invitation-share-privately-invite-button {
  display: flex;
  align-self: center;
  background-color: #0C9;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

#invitation-track-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#invitation-track-box {
  border: var(--border-page);
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  background-color: rgba(224, 224, 224, 0.233);
}

.invitation-track-innerbox {
  height: fit-content;
  /* padding-left: 2.5%; */
  /* padding-right: 2.5%; */
  align-self: center;
  font-family: var(--font-roboto);
  font-size: small;
}

#invitation-track-innerbox-number {
  min-width: 25px;
}

#invitation-track-innerbox-name {
  min-width: 180px;
}

#invitation-track-innerbox-email {
  min-width: 180px;
}

#invitation-track-innerbox-status {
  /* Not Opened, Opened, Submitted */
  min-width: 100px;
}

#invitation-track-innerbox-datetime {
  min-width: 200px;
  font-style: italic;
}

/* DESIGN */

#design-background-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-direction: space-around;
  padding-left: 50px;
}

#design-background-title {
  width: 15%;
  height: 100%;
  font-display: var(--font-roboto);
  font-size: medium;
  font-style: italic;
  margin: 0px 5px 0px 20px;
  align-self: flex-start;
  padding-top: 10px;
}

#design-background-input-container {
  width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#design-background-input-uploadimage {
  width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#design-background-uploadimage-area {
  /* width: 100%; */
  width: 370px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px dashed #ccc;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  position: relative;
}

#design-background-uploadimage-area.active {
  border: 1px solid #ccc;
}

#design-background-uploadimage-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
}

#remove-image-button {
  font-size: 15px;
  width: fit-content;
  height: fit-content;
  color: #878787;
  /* color: aqua; */
  right: 20px;
  top: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#design-background-uploadimage-area.active:hover #remove-image-button {
  position: absolute;
}

#design-background-uploadimage-area.active #remove-image-button:hover {
  color: linear-gradient(135deg, #3afe8c 0%, #5bcfec 100%);
}

#design-background-uploadimage-forimage {
  /* untuk render imagenya */
  width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#design-background-uploadimage-image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-background-uploadimage-text {
  width: 100%;
  height: fit-content;
  /* vertical-align: center;
  align-content: center; */
  /* justify-content: center; */
  font-family: var(--font-roboto);
}

#design-background-uploadimage-text-header {
  margin-top: 25px;
  padding-top: 10px;
  font-size: medium;
}

#design-background-uploadimage-text-divider {
  padding: 10px 0px 10px 0px;
  font-size: small;
}

.design-background-uploadimage-button {
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  /* background: linear-gradient(135deg, #3afe8c 0%, #5bcfec 100%); */
  padding: 7px 5px 7px 5px;
  width: 30%;
  height: fit-content;
  cursor: pointer;
  font-size: medium;
  text-align: center;
  align-self: center;
  margin-bottom: 35px;
}

#design-background-uploadimage-filename {
  width: 100%;
  height: fit-content;
  font-size: medium;
  font-family: var(--font-roboto);
  /* color: white; */
  /* background-color: rgb(139, 231, 180); */
  background: linear-gradient(135deg, #3afe8c 0%, #5bcfec 100%);
  padding: 5px 0px 5px 0px;
  border-radius: 0px 0px 5px 5px;
  align-self: flex-end;
  /* position: absolute; */
  visibility: hidden;
}

#design-background-uploadimage-filename.active {
  visibility: visible;
}

#design-color-container {
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

#design-color-title {
  width: 15%;
  height: 100%;
  font-display: var(--font-roboto);
  font-size: medium;
  font-style: italic;
  margin: 0px 5px 0px 20px;
  align-self: flex-start;
  padding-top: 10px;
}

.design-selection {
  width: 370px;
  height: fit-content;
  font-size: medium;
}

/* Data Visualization */

.data-visualization-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.data-visualization-container > .page-selection {
  width: 100%;
  border-bottom: 1px solid #878787;
}

.data-visualization-container > .page-selection ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}

.data-visualization-container > .page-selection ul li {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: #878787;
}

.data-visualization-container > .page-selection ul li:hover {
  border-bottom: 2px solid #878787;
  transition: .5s;
  font-weight: bold;
  cursor: pointer;
}

.page-selection .active {
  font-weight: bold;
  border-bottom: 2px solid #878787;
}

.data-visualization-container > .result-container {
  width: 90%;
  height: fit-content;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 0 #c4c4c4;
  background-color: white;
}

.result-container > .question-field {
  text-align: left;
  color: #878787;
  font-size: large;
  display: flex;
  text-align: justify;
  flex-wrap: wrap;
  width: 95%;
  height: fit-content;
  margin: 30px 15px 15px 15px;
  padding-left: 20px;
}

.result-container > .graph-section {
  width: 100%;
  height: fit-content;
  margin: 15px;
}

.graph-section > .graph {
  width: 50%;
  height: fit-content;
  margin: 15px 0px 0px 0px;
}

.graph-section > .sub-graph {
  margin-bottom: 30px;
}

#export-container {
  width: 80%;
  height: fit-content;
  min-height: 70%;
  display: flex;
  flex-direction: column;
}

/* TOOLTIP */
.popup-wrapper {
  margin: auto;
  /* background: rgb(180, 78, 78); */
  background-color: var(--white-use);
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  min-width: fit-content;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
}

.popup-content {
  padding: 2px 5px 2px 5px;
  width: 100%;
  height: fit-content;
  font-family: var(--font-roboto);
  font-size: 15px;
  font-display: medium;
  text-align: center;
  align-self: center;
}

.popup-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  /* padding: 25px 0px 35px 0px; */
}

#export-selection-text {
  font-family: var(--font-roboto);
  font-size: large;
  align-self: center;
  padding-right: 10%;
}

#export-save-box {
  width: 8%;
  height: fit-content;
  padding: 8px;
  /* align-self: center; */
  background-color: black;
  border-radius: 10px;
  /* margin-top: 50px; */
}

#export-save-box:hover {
  cursor: pointer;
}

#export-save-button {
  font-family: var(--font-roboto);
  font-size: large;
  font-weight: bold;
  color: var(--white-use);
  text-align: center;
}

#export-selection-dropdown {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
}

#exportSelection {
  width: 100%;
  height: fit-content;
  font-size: medium;
  justify-content: center;
  border-bottom: 0.2px solid rgb(105, 105, 105);
  align-self: center;
}

.preview-box {
  width: 595px;
  height: 842px;
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border: 4px solid blue;
  margin: 0 0 -400px 0;
}

.preview {
  width: 100%;
  height: 100%;
}

.preview-box {
  width: 595px;
  height: 842px;
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border: 4px solid blue;
  margin: 0 0 -400px 0;
}

.preview {
  width: 100%;
  height: 100%;
}

/* Feedback */

.chat-content {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.chat-content::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.chat-content::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.chat-content::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

.chat-content::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

#chat-container {
  padding: 15px 0px 15px 0px;
  width: 85%;
  height: fit-content;
  max-height: 600px;
  scroll-behavior: smooth;
}

#chat-single-box {
  padding: 10px 0px 15px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* flex-basis: 33.333333%; */
}

#chat-message-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#chat-user-name {
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 5px 0px 5px 0px;
}

#chat-user-message {
  font-family: var(--font-roboto);
  font-size: 15px;
  color: var(--gray-profileimage);
  width: 100%;
}

#chat-line {
  width: 100%;
  border-bottom: var(--border-page);
  align-self: center;
}

#chat-info-box {
  width: 25%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#chat-timestamp {
  font-family: var(--font-roboto);
  font-size: 15px;
  color: var(--gray-profileimage);
  margin-bottom: 5px;
}

.chat-tag-box {
  width: fit-content;
  height: 100%;
  border-radius: 10px;
  justify-content: flex-end;
}

#orange-chat-tag-box {
  background-color: rgb(255, 203, 107);
  padding: 5px 13px 5px 13px;
  font-style: italic;
}

#green-chat-tag-box {
  background-color: rgb(55, 231, 78);
  padding: 5px 10px 5px 10px;
}

#chat-tag {
  font-family: var(--font-roboto);
  font-size: 15px;
  color: white;
}

.link {
  text-decoration: none !important;
}

#link-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

/* Message */

#message-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#message-header {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding: 20px 15px 20px 15px;
  align-items: center;
}

#message-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  font-family: var(--font-roboto);
  font-size: 25px;
  /* font-weight: bold; */
}

#message-profile-image {
  margin-right: 20px;
}

.message-line {
  width: 95%;
  height: fit-content;
  border-bottom: 3px solid #ccc;
  align-self: center;
}

#backspace-icon-img {
  margin-left: 5px;
  margin-right: 10px;
  height: 26px;
  width: 32px;
}

#message-content-wrapper {
  height: 100%;
  max-height: 600px;
  width: 90%;
  padding: 20px 50px 15px 50px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  overflow-y: scroll;
}

.message-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message-content-2 {
  width: fit-content;
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#message-user-1 {
  align-self: flex-start;
}

#message-user-2 {
  align-self: flex-end;
}

#message-user-2 > .message-single-bubble {
  background-color: rgb(221, 253, 253);
}

#message-content-wrapper::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

#message-content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

#message-content-wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

#message-content-wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

.message-single-bubble {
  width: fit-content;
  height: 100%;
  padding: 15px;
  border: 1px solid var(--gray-profileimage);
  border-radius: 15px;
  margin-bottom: 5px;
}

.message-single-bubble {
  box-shadow: 0px 0px 10px rgb(235, 223, 223);
}

#message-single-content {
  font-family: var(--font-roboto);
  font-size: 15px;
  width: 100%;
}

#message-single-timestamp {
  align-self: flex-end;
  margin-bottom: 17px;
  color: #c4c4c4;
}

#message-input-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* border-top: 5px; */
}

#message-input {
  margin-left: 25px;
  padding: 25px;
  width: 88%;
  border: none;
  border-radius: 25px;
  outline: none;
}

#send-icon {
  width: 22px;
  height: 22px;
  align-self: center;
  color: #8e8e8e;
}

/* #send-icon:hover { */
/* color: white; */
/* } */

#message-send {
  width: fit-content;
  height: 100%;
  align-self: center;
  padding: 10px 15px 10px 17px;
  margin-right: 20px;
}

#message-send:hover {
  border-radius: 25px;
  /* background-color: whitesmoke; */
  background-color: rgb(221, 253, 253);
  border: var(--gray-profileimage);
  cursor: pointer;
  /* box-shadow: 0px 5px 15px rgb(231, 219, 219); */
  /* display: flex; */
}

/* Preview */

.display-container {
  width: 85%;
  min-height: 300px;
  height: fit-content;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  margin: 50px 0px 50px 0px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0 #c4c4c4;
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#preview-empty-list {
  width: fit-content;
  height: 100%;
  font-size: large;
  font-style: italic;
  align-self: center;
}

#preview-question-list {
  display: flex;
  flex-direction: row;
}

#preview-back-icon-animation {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 25px;
  padding: 3px 6px 3px 5px;
  align-self: center;
  display: flex;
  justify-content: center;
}

#preview-back-icon-animation:hover {
  background-color: var(--gray-profileimage);
  border-radius: 25px;
  cursor: pointer;
}

#preview-back-null {
  width: 30px;
  height: 30px;
  padding: 0px 15px 0px 30px;
}

#preview-back-icon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.preview-submit-button {
  width: fit-content;
  height: fit-content;
  margin: 15px 5px 5px 5px;
  padding: 10px 15px 10px 15px;
  align-self: center;
  justify-content: center;
  cursor: pointer;

  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: var(--navbar-color);
  border-radius: 15px;
}

#preview-next-null {
  width: 30px;
  height: 30px;
  padding: 0px 30px 0px 15px;
}

#preview-next-icon-animation {
  width: 40px;
  height: 40px;
  margin: 0px 25px 0px 10px;
  padding: 3px 5px 3px 6px;
  align-self: center;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

#preview-next-icon-animation:hover {
  background-color: var(--gray-profileimage);
  border-radius: 25px;
  cursor: pointer;
}

#preview-next-icon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.preview-flex {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 20px 15px;
  width: 95%;
  height: 100%;
}

.preview-field {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: var(--font-roboto);
  margin-bottom: 15px;
  text-align: justify;
}

#preview-index {
  margin-right: 10px;
}

#preview-warning {
  color: red;
  font-style: italic;
}

.answer-field {
  width: 100%;
  height: fit-content;
  margin: 20px;
}

#preview-linear-scale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

#preview-multiple-choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#preview-option-container {
  display: flex;
  min-width: 9%;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 5px;
}

#preview-input-ls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#option-ls {
  padding: 10px;
  margin-bottom: 20px;
}

#option-ls-label {
  font-size: 15px;
  width: fit-content;
  max-width: 80px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#preview-input-mc-cb-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#option-mc-cb {
  margin-bottom: 5px;
  margin-right: 10px;
}

#option-label {
  font-size: 15px;
}

#preview-short-answer {
  width: 95%;
  height: fit-content;
  border-bottom: 2px dashed var(--gray-profileimage);
}

#preview-sa-text {
  font-size: 15px;
  font-style: italic;
  color: gray;
  padding: 10px 0px 20px 0px;
  border: none;
  outline: none;
  width: 100%;
}

#admin-page {
  width: 80%;
  height: 480px;
  position: relative;
  box-shadow: 4px 5px 1px rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  border: var(--border-page);
  min-height: 475px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

#admin-menu {
  height: 45em;
  width: 25%;
  /* background-color: rgb(41, 209, 167); */
  background-color: var(--navbar-color);
  border-radius: 25px 0px 0px 25px;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.admin-sub-menu {
  display: block;
}

#admin-menu .admin-sub-menu {
  color: whitesmoke;
  font-weight: 300;
  font-size: large;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 7px;
  cursor: pointer;
}

#admin-menu .admin-sub-menu-active {
  color: whitesmoke;
  font-weight: 500;
  font-size: large;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 7px;
  cursor: pointer;
}

#sub-menu-exit {
  text-decoration: none;
}

.admin-menu-divider {
  border: var(--border-page);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  color: black;
  margin-bottom: 5%;
  align-self: center;
}

#admin-content {
  width: 75%;
  height: 92%;
  display: block;
  padding: 20px 0px 20px 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#admin-content::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

#admin-content::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

#admin-content::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

#admin-content::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

#welcome-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-title {
  width: fit-content;
  height: fit-content;
  font-size: x-large;
  align-self: center;
  padding: 10px;
}

#welcome-quotes {
  width: fit-content;
  height: fit-content;
  font-size: large;
  align-self: center;
  font-style: italic;
}


#logging-box {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 15px 0px 15px 25px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

#logging-datetime {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#logging-date {
  font-size: small;
  padding-right: 10px;
  color: gray;
  font-style: italic;
  font-weight: 500;
}

#logging-time {
  font-size: small;
  font-style: italic;
  color: gray;
}

#logging-message {
  font-size: medium;
}

#support-box {
  width: 90%;
  height: fit-content;
  margin: 15px 0px 15px 25px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

#support-left-box {
  height: fit-content;
  margin-right: 5px;
  align-self: center;
}

#support-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

#support-right-box {
  width: 90%;
  height: fit-content;
  margin-left: 7px;
  align-items: center;
}

#support-divider {
  margin: 0px 10px 0px 10px;
  border-right: 1px solid #ddd;
}

#support-name {
  font-size: medium;
  font-weight: 500;
  margin-bottom: 10px;
}

#support-message {
  font-size: 15px;
}

#config-box {
  height: 100%;
  width: 90%;
}

.config-row {
  width: 100%;
  height: fit-content;
  padding: 10px 10px 10px 20px;
  margin: 10px 20px 10px 30px;
  display: flex;
  flex-direction: row;
}

.config-title {
  font-size: medium;
  font-weight: 400;
  width: 30%;
  align-self: center;
}

.config-input {
  width: 50%;
  border: 1px solid gainsboro;
  padding: 15px 20px 15px 17px;
  border-radius: 10px;
  font-size: 15px;
}

/* added breadcrumbs */

.page-breadcrumbs {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: fit-content;
  padding: 15px 25px 15px 25px;
  justify-content: left;
  align-self: center;
  background-color: white;
  border: var(--border-page);
  border-radius: 25px;
  margin-bottom: 25px;
}

.page-breadcrumbs a {
  text-decoration: none;
  font-size: large;
  margin-left: 15px;
}

.page-breadcrumbs span {
  margin-right: 15px;
}

/* Respondent */

.respondent-container {
  margin-left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#page-title-respondent {
  margin: 30px 30px 10px 100px;
  font-size: 40px;
}

.page-description-respondent {
  margin: 30px 30px 30px 100px;
  font-size: 15px;
}

#display-respondent {
  align-self: center;
}

#respondent-chat {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 25%;
  height: fit-content;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

#respondent-chat-box {
  position: fixed;
  z-index: -1000;
  opacity: 0;
  bottom: 50px;
  right: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px #999;
}

.respondent-chat-box--active {
  width: 300px;
  height: 400px;

  transform: translateY(-50px) !important;
  z-index: 1000 !important;
  opacity: 1 !important;
}

#respondent-chat-header {
  background-color: #0C9;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#respondent-chat-profile-image {
  height: 35px;
  width: 35px;
  background-color: whitesmoke;
  border-radius: 20rem;
  object-fit: cover;
  margin: 0px 5px 0px 12px;
}

#respondent-chat-profile-name {
  width: 65%;
  margin: 7px;
  font-size: small;
  color: white;
}

#respondent-chat-content {
  width: 100%;
  height: 70%;
  background-color: whitesmoke;
}

#respondent-chat-footer {
  width: 100%;
  min-height: 6.5em;
  height: fit-content;
  max-height: 10em;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  justify-content: center;
  border: var(--border-page);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
}

#respondent-chat-send {
  margin: 10px 10px 0px 5px;
  cursor: pointer;
}

#respondent-chat-input {
  width: 80%;
  height: 100%;
  margin: 13px 10px 10px 13px;
  background-color: white;
  text-decoration: none;
  font-size: 12px !important;
  font-style: italic;
  border: none;
  outline: none;
}

#respondent-chat-input::-webkit-scrollbar {
  display: none;
}

#respondent-chat-button-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 50px;
  background-color: #0C9;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  cursor: pointer;
}

#respondent-chat-icon {
  width: 25px;
  height: 25px;
  padding: 15px;
}

/* Login */

#landing-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: rgb(153, 211, 196);
  align-items: center;
}

#landing-page-welcome {
  width: 50%;
  height: fit-content;
  margin: 56px;
  align-self: center;
}

#landing-page-welcome-1 {
  font-size: 28px;
  margin-bottom: 10px;
}

#landing-page-welcome-2 {
  font-size: 35px;
  font-family: 'Signika';
}

#landing-page-login-box {
  width: 50%;
  max-width: 450px;
  height: 350px;
  margin: 56px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landing-page-login-header {
  font-size: 25px;
  padding-bottom: 2.0px;
  margin-bottom: 20px;
}

.liner {
  border-bottom: .5px dotted gray;
  width: 100%;
}

.landing-page-login-container {
  padding: 15px 0px 20px 0px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page-login-row {
  margin-bottom: 0px;
}

.landing-page-login-title {
  font-size: 15px;
  font-style: italic;
  margin: 5px 0px 5px 0px;
}

.landing-page-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.span-asterisk {
  color: red;
  font-size: small;
}

.span-required {
  color: gray;
  font-size: x-small;
  font-style: italic;
}

.landing-page-login-field {
  width: 70%;
  max-width: 300px;
  margin: 5px 0px 5px 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-profileimage);
}

#landing-page-login-footer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

#landing-page-login-button {
  width: 100px;
  background-color: var(--navbar-color);
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 7px 3px 7px 3px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container {
  width: 30%;
  min-width: 350px;
  max-width: 500px;
  height: fit-content;
  min-height: 300px;
  background-color: white;
  border-radius: 15px;
  position: fixed;
  padding: 15px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.popup-close-btn {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

.popup-close-btn {
  cursor: pointer;
}

.popup-close-btn ion-icon {
  width: 20px;
  height: 20px;
  color: gray;
}

.popup-title {
  font-size: 30px;
  color: black;
  width: 90%;
  height: fit-content;
  text-align: center;
  font-weight: bold;
}

.popup-icon {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-icon-green ion-icon {
  width: 60px;
  height: 60px;
  color: green;
}

.popup-icon-red ion-icon {
  width: 60px;
  height: 60px;
  color: red;
}

.popup-message {
  width: 90%;
  height: fit-content;
  font-size: 20px;
  text-align: center;
}

.popup-confirm-btn {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-confirm-btn button {
  padding: 10px 35px 10px 35px;
  background-color: blue;
  color: white;
  font-size: medium;
  border-radius: 25px;
  border: none;
}