@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");

:root {
  --navbar-color: #1dccd1;
  --pagebar-color: white;
  --border-page: #ccc 1px solid;
  --btn-hover: #ddd;
  --btn-click: #ccc;
  --btn-color: inherit;
  --tc-navbar: white;
  --gray-email: #8e8e8e;
  --gray-profileimage: #c4c4c4;
  --gray-border: #878787;
  --font-roboto: "Roboto", sans-serif;
  --font-weight: 500;
  --item-name: black;
  --item-desc: #878787;
  --minWidth-size: 1400px;
  --minHeightNB-size: 50px;
  --minHeight-size: 720px;
}

html {
  font-size: 10px;
  position: relative;
  max-width: 100vw;
}

/* Navigation bar */

.navbar {
  overflow: visible;
  background-color: var(--navbar-color);
  width: 100%;
  min-width: var(--minWidth-size);
  min-height: var(--minHeightNB-size);
  height: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 25px 25px;
}

#app-title {
  width: 60%;
  height: fit-content;
  min-height: var(--minHeightNB-size);
  color: white;
  font-size: 4rem;
  font-family: var(--font-roboto);
  font-style: italic;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  padding-left: 50px;
}

#profile-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-family: var(--font-roboto);
}

.profile-preview {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile-image {
  height: 50px;
  width: 50px;
  background-color: var(--gray-profileimage);
  border-radius: 20rem;
  margin-right: 50px;
  object-fit: cover;
}

#pr-username {
  color: var(--tc-navbar);
  font-weight: 500;
  font-size: medium;
}

#pr-email {
  color: var(--gray-email);
  font-weight: 500;
  font-size: medium;
}

/* Menu Bar */
.menu-container {
  display: block;
  width: 25%;
  height: 100%;
  left: 0;
  top: 50;
  min-height: var(--minHeight-size);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-title {
  height: 10%;
  width: 100%;
}

.sub-menu {
  display: block;
  border-bottom: 1px solid white;
  font-family: var(--font-roboto);
  font-size: 2em;
}

/* Home Page Fragment */

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: var(--minWidth-size);
  min-height: var(--minHeight-size);
}

.page-container {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-roboto);
  padding-bottom: 50px;
}

.openMenu {
  width: 75%;
}

.page-title {
  width: 80%;
  height: 100px;
  text-align: left;
  font-size: 5rem;
  display: flex;
  align-items: center;
}

#page-content {
  width: 80%;
  height: fit-content;
  margin-top: 50px;
  box-shadow: 4px 5px 1px rgba(128, 128, 128, 0.233);
  border-radius: 25px;
}

.menu-bar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pagebar-color);
  border: var(--border-page);
  border-radius: 25px 25px 0px 0px;
}

#page-selection {
  width: 50%;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.page-button {
  font-size: medium;
  text-align: center;
  padding: 14px;
  background-color: var(--btn-color);
}

.page-button:hover {
  background-color: var(--btn-click);
  transition: 0.3s;
}

#btn-page1 {
  border-top-left-radius: 25px;
}

#page-others {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.page-search {
  display: flex;
  align-items: right;
}
.react-search-field {
  border-radius: 10px;
  height: 40vh;
  /* border-collapse: separate; */
}

.react-search-field-input {
  background: transparent;
}

.react-search-field-button {
  margin-right: 0.8vw;
  border-left: none !important;
  align-items: center;
}

.list-container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-auto-rows: 350px;
  align-items: center;
  justify-items: center;
  border-left: var(--border-page);
  border-right: var(--border-page);
  border-bottom: var(--border-page);
  border-radius: 0px 0px 25px 25px;
}

.item-container {
  min-height: 220px;
  height: 250px;
  max-height: 300px;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

#item-image {
  width: 175px;
  height: 200px;
}

.item-meta {
  height: 100%;
  margin-top: 15px;
  color: var(--item-name);
  font-family: var(--font-roboto);
  font-size: small;
}

#item-name {
  height: 40px;
  overflow: hidden;
  font-size: medium;
  font-weight: var(--font-weight);
}

#item-desc {
  color: var(--item-desc);
  height: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#item-desc::-webkit-scrollbar {
  display: none;
}

.addNewItem {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#btn-addItem {
  height: 60%;
  font-size: 10rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
}

#btn-addItem2 {
  height: 40%;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
}

/* form Make A New Questionnaire */

.popup-background {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #87878775;
}

.popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: fit-content;
}

#popup-addItem {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: fit-content;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.closePopup {
  color: Black;
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

.form-components {
  height: fit-content;
  display: inline-block;
}
.form-alignright {
  float: right;
  margin-left: 25px;
}

/* Title */
/* ex: Dashboard */

.title-container {
  margin-left: 10px;
  width: 80%;
  height: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#dashboard-home {
  justify-content: space-between;
}

.dashboard-icon {
  /* float: right; */
  width: 10em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.menu-icon {
  padding-right: 15px;
  border-radius: 20rem;
  margin-right: 20px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#menu-icon-img {
  margin-left: 5px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

#other-icon {
  height: 20px;
  width: 20px;
}

/* question items, containers */

.questions-container {
  width: 100%;
  height: 100%;
  border: var(--border-page);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  overflow-x: scroll;
  min-height: 480px;
}

.questions-container::-webkit-scrollbar {
  height: 5px;
  bottom: -100px;
}

.questions-container::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.questions-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-left: 15px;
}

.questions-container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-right: 15px;
}

.separator {
  min-width: 100px;
  min-height: 100px;
}

.question-padding {
  padding-bottom: 130px;
}

.addquestion-padding {
  padding-bottom: 100px;
}

#addQuestion:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
  transition: 0.3s;
}

/* Question Section */

.question {
  min-width: 500px;
  max-height: 350px;
  height: fit-content;
  width: 500px;
  margin: 50px;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  overflow-y: scroll;
}

.question::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.question::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.question::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}

.question::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 15px;
}

.question-area {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#question-title-font {
  font-size: 1.5rem;
  width: 60%;
  height: fit-content;
  cursor: pointer;
}

#question-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 95%;
  display: inline;
  resize: none;
  min-height: 38px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: var(--font-roboto);
}

#question-input::-webkit-scrollbar {
  display: none;
}

#question-selection {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
}

#questionSelection {
  width: 100%;
  height: fit-content;
  font-size: medium;
}

/* Multiple Choice */

#answer-selection-container {
  margin-top: 15px;
  height: auto;
  width: fit-content;
}

#answer-selection-container .answerSelectionRadio {
  width: 20px;
  height: 20px;
}

.answer-selection {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin-top: 5px;
}

.answer-selection .inputText {
  width: 260px;
  height: fit-content;
  margin-left: 5px;
  border: none;
  font-size: 1.55em;
  font-family: var(--font-roboto);
  scrollbar-width: none;
}

.inputText::-webkit-scrollbar {
  display: none;
}

#border {
  width: 275px;
  border: var(--border-page);
}

/* Short Answer */

#shortanswer-container {
  border-bottom: 1px dotted grey;
  /* padding-bottom: 5px; */
  padding: 5px 5px 5px 5px;
  margin-left: 10px;
  margin-right: 20px;
}

#shortanswer-container .inputText {
  border: none;
  width: 100%;
}

/* Checkbox */

#answer-selection-container .answerSelectionCheckbox {
  width: 15px;
  height: 30px;
}

/* Linear scale */

.linear-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linear-input-container {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linear-title {
  font-family: var(--font-roboto);
  color: rgb(105, 105, 105);
  font-size: 1.45em;
  margin-left: 10px;
  margin-right: 15px;
  width: fit-content;
  align-self: flex-start;
}

#linear-title-input {
  margin-top: 12px;
}

#linear-input-box {
  padding-left: 20px;
  width: 20%;
}

.linear-label-container {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#linear-title-label {
  margin-top: 19px;
}

.linear-label-loop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.linear-label-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.linear-label-userinput {
  width: auto;
  height: fit-content;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  padding: 5px;
  margin-top: 5px;
}

.linear-label-userinput .inputText {
  width: 200px;
  height: fit-content;
  margin-left: 5px;
  border: none;
  font-size: 1.55em;
  font-family: var(--font-roboto);
  scrollbar-width: none;
}

#linear-label-select {
  width: 22%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
  margin-left: 5px;
}

#linear-label-select-box {
  width: 50%;
  height: 75%;
  border: var(--border-page);
  border-radius: 5px;
  font-size: medium;
  align-self: center;
  display: flex;
}

#linear-label-select-value {
  width: 92%;
  height: 50%;
  /* display: flex; */
  align-self: center;
  text-align: center;
}

/* INVITATION PAGE */

#invitation-share-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#invitation-share-publicly-box {
  margin-top: 30px;
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: var(--border-page);
  border-radius: 10px;
  align-self: center;
}

#invitation-share-publicly-innerbox {
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
}

#invitation-share-publicly-innerbox-text {
  font-family: var(--font-roboto);
  font-size: 1.5em;
  font-display: medium;
  align-self: left;
  margin-bottom: 2%;
}

#invitation-share-publicly-innerbox-linkcontainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#invitation-share-publicly-innerbox-linkbox {
  border: var(--border-page);
  border-radius: 5px;
  width: 75%;
  height: 25px;
  align-self: center;
  margin-left: 15px;
}

#invitation-share-publicly-innerbox-iconcontainer {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  margin-top: 10px;
}

.invitation-share-publicly-innerbox-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#invitation-share-divider {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#invitation-share-divider-line {
  width: 5%;
  border: var(--border-page);
  align-self: center;
}

#invitation-share-divider-text {
  padding-left: 0.5%;
  padding-right: 0.5%;
  color: rgb(204, 204, 204);
  font-style: bold;
}

#invitation-share-privately-box {
  width: 75%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#invitation-share-privately-innerbox {
  font-family: var(--font-roboto);
  font-size: 1.5em;
  font-display: medium;
  align-self: left;
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#invitation-share-privately-button {
  font-weight: bold;
  font-family: var(--font-roboto);
  font-size: small;
  color: white;
  background-color: black;
  align-self: left;
  margin-left: 25px;
  margin-bottom: 30px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: fit-content;
}
