@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");

:root {
  --navbar-color: #1dccd1;
  --pagebar-color: white;
  --border-page: #ccc 1px solid;
  --btn-hover: #ddd;
  --btn-click: #ccc;
  --btn-color: inherit;
  --tc-navbar: white;
  --gray-email: #8e8e8e;
  --gray-profileimage: #c4c4c4;
  --gray-border: #878787;
  --font-roboto: "Roboto", sans-serif;
  --font-weight: 500;
  --item-name: black;
  --item-desc: #878787;
  --minWidth-size: 1400px;
  --minHeight-size: 50px;
}

html {
  font-size: 10px;
}

/* Navigation bar */

.navbar {
  overflow: visible;
  background-color: var(--navbar-color);
  width: 100%;
  min-width: var(--minWidth-size);
  min-height: var(--minHeight-size);
  height: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 25px 25px;
}

#app-title {
  width: 60%;
  height: fit-content;
  min-height: var(--minHeight-size);
  color: white;
  font-size: 4rem;
  font-family: var(--font-roboto);
  font-style: italic;
  text-align: left;
  font-style: normal;
  text-decoration: none;
  padding-left: 50px;
}

#profile-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-family: var(--font-roboto);
}

.profile-preview {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile-image {
  height: 50px;
  width: 50px;
  background-color: var(--gray-profileimage);
  border-radius: 20rem;
  margin-right: 50px;
  object-fit: cover;
}

#pr-username {
  color: var(--tc-navbar);
  font-weight: 500;
  font-size: medium;
}

#pr-email {
  color: var(--gray-email);
  font-weight: 500;
  font-size: medium;
}

/* Home Page Fragment */

.container {
  width: 100%;
  min-width: var(--minWidth-size);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: var(--font-roboto);
  /* border: black 1px solid; */
}

.page-title {
  width: 80%;
  height: 100px;
  text-align: left;
  font-size: 5rem;
  display: flex;
  align-items: center;
}

#page-content {
  width: 80%;
  height: 100%;
  margin-top: 50px;
  box-shadow: 4px 5px 1px rgba(128, 128, 128, 0.233);
  border-radius: 25px;
}

.menu-bar {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pagebar-color);
  border: var(--border-page);
  border-radius: 25px 25px 0px 0px;
}

#page-selection {
  width: 50%;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.page-button {
  font-size: medium;
  text-align: center;
  padding: 14px;
  background-color: var(--btn-color);
}

.page-button:hover {
  background-color: var(--btn-click);
  transition: 0.3s;
}

#btn-page1 {
  border-top-left-radius: 25px;
}

#page-others {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.page-search {
  display: flex;
  align-items: right;
}
.react-search-field {
  border-radius: 10px;
  height: 40vh;
  /* border-collapse: separate; */
}

.react-search-field-input {
  background: transparent;
}

.react-search-field-button {
  margin-right: 0.8vw;
  border-left: none !important;
  align-items: center;
}

.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-auto-rows: 350px;
  align-items: center;
  justify-items: center;
  border-left: var(--border-page);
  border-right: var(--border-page);
  border-bottom: var(--border-page);
  border-radius: 0px 0px 25px 25px;
}

.item-container {
  min-height: 220px;
  height: 250px;
  max-height: 300px;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  overflow: hidden;
}

#item-image {
  width: 175px;
  height: 200px;
}

.item-meta {
  height: 100%;
  margin-top: 15px;
  color: var(--item-name);
  font-family: var(--font-roboto);
  font-size: small;
}

#item-name {
  height: 40px;
  overflow: hidden;
  font-size: medium;
  font-weight: var(--font-weight);
}

#item-desc {
  color: var(--item-desc);
  height: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#item-desc::-webkit-scrollbar {
  display: none;
}

.addNewItem {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addNewItem:hover {
  background-color: var(--btn-click);
  transition: 0.3s;
}

#btn-addItem {
  height: 60%;
  font-size: 10rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
}

#btn-addItem2 {
  height: 40%;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: var(--item-desc);
}

/* form Make A New Questionnaire */

.popup-background {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #87878775;
}

.popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: fit-content;
}

#popup-addItem {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: fit-content;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.closePopup {
  color: Black;
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

.form-components {
  height: fit-content;
  display: inline-block;
}
.form-alignright {
  float: right;
  margin-left: 25px;
}

/* Title */
/* ex: Dashboard */

.title-container {
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
  height: 12em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#dashboard-home {
  justify-content: space-between;
}

.dashboard-icon {
  /* float: right; */
  width: 10em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.menu-icon {
  padding-right: 15px;
  border-radius: 20rem;
  margin-right: 20px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-icon {
  margin-left: 5px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

#other-icon {
  height: 20px;
  width: 20px;
}

/* question items */

.questions-container {
  width: 100%;
  height: 100%;
  border: var(--border-page);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  overflow-x: scroll;
}

.separator {
  min-width: 100px;
  min-height: 100px;
}

.question-padding {
  padding-bottom: 130px;
}

.addquestion-padding{
  padding-bottom: 100px;
}

.question {
  min-width: 500px;
  max-height: 350px;
  height: fit-content;
  width: 500px;
  margin: 50px;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  border: var(--gray-border) 1px solid;
  border-radius: 10px;
  overflow-y: scroll;
}

.question::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.question::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(128, 128, 128, 0.233); /* creates padding around scroll thumb */
}

.question::-webkit-scrollbar-track-piece:start{
  background: transparent;
  margin-top: 15px;
}

.question::-webkit-scrollbar-track-piece:end{
  background: transparent;
  margin-bottom: 15px;
}

.question-area {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#question-title-font {
  font-size: 1.5rem;
  width: 60%;
  height: fit-content;
  cursor: pointer;
}

#question-input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 95%;
  display: inline;
  resize: none;
  min-height: 38px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: var(--font-roboto);
}

#question-input::-webkit-scrollbar {
  display: none;
}

#question-selection {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-top: 5px;
}

#questionSelection {
  width: 100%;
  height: fit-content;
}

#answer-selection-container {
  margin-top: 15px;
  height: auto;
  width: fit-content;
}

#answer-selection-container .answerSelection {
  width: 20px;
  height: 20px;
}

.answer-selection {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin-top: 5px;
}

.answer-selection .inputText {
  width: 260px;
  height: fit-content;
  margin-left: 5px;
  border: none;
  font-size: 1.55em;
  font-family: var(--font-roboto);
  scrollbar-width: none;
}

.inputText::-webkit-scrollbar {
  display: none;
}

#border {
  width: 275px;
  border: var(--border-page);
}
